<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments::head('博客管理')">
</head>
<body>

<!--导航-->
<th:block th:replace="admin/_fragments::menu(1,2,'blog')"></th:block>

<!--中间内容-->
<div class="m-padding-tb-big m-container-small">
    <div class="ui container">
        <!--消息提示-->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}"></p>
        </div>
        <!--搜索博客-->
        <form th:action="@{/admin/blogManage/1}" class="ui segment form" method="get">
            <div class="inline fields">
                <!--按标题搜索-->
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <!--按分类搜索-->
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <div th:each="type:${types}" th:text="${type.name}" class="item" th:data-value="${type.id}"></div>
                        </div>
                    </div>
                </div>
                <!--搜索按钮-->
                <div class="field">
                    <button class="ui mini teal basic button"><i class="icon search"></i>搜索</button>
                </div>
            </div>
        </form>
        <!--博客列表-->
        <table class="ui celled table">
            <!--表头-->
            <thead>
            <tr>
                <th class="m-text-align">序号</th>
                <th>标题</th>
                <th>类别</th>
                <th>推荐</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <!--表体-->
            <tbody>
            <!--一条博客数据-->
            <tr th:each="blog:${blogs}">
                <td th:text="${blog.id}"></td>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.type.name}"></td>
                <td th:text="${blog.recommend}?'是':'否'"></td>
                <td th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}"></td>
                <td>
                    <a th:href="@{/admin/blogUpdate(id=${blog.id})}" class="ui mini teal basic button">编辑</a>
                    <a th:href="@{/admin/doBlogDelete(id=${blog.id})}" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <!--表尾-->
            <tfoot>
            <tr>
                <th colspan="6">
                    <!--翻页-->
                    <div class="ui mini pagination menu">
                        <!--上一页-->
                        <a th:if="${offset}>1" th:href="${offset}-1" class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <!--中间翻页部分-->
                        <a class="item" th:each="page:${pages}" th:text="${page}" th:href="${page}"></a>
                        <!--下一页-->
                        <a th:if="${offset}<${maxPage}" th:href="${offset}+1" class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                    <!--发布按钮-->
                    <a th:href="@{/admin/blogInput}" class="ui mini right floated teal basic button">发布</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<br>
<br>

<!--底部-->
<footer th:replace="_fragments::footer"></footer>

<th:block th:replace="admin/_fragments::script"></th:block>
<script>
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    })
</script>
</body>
</html>