<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
</head>

<body>

<section>
    <form th:action="@{/admin/doLogin}" method="post">
        <h2>Login</h2>
        <input type="text" placeholder="用户名" name="username">
        <input type="password" placeholder="密码" name="password">
        <div class="login-btn">
            <button type="submit">登录</button>
        </div>
    </form>
</section>

<script th:inline="javascript">
    if ([[${message}]]) {
        alert([[${message}]]);
    }
</script>

</body>
</html>