<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head('关于我')">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments::menu(4)"></nav>

<!--中间内容-->
<div class="m-padding-tb-big m-container">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左侧图片-->
            <div class="ten wide column">
                <div class="ui segment layui-carousel" id="photos">
                    <div carousel-item>
                        <div>
                            <img src="https://cher-er.oss-cn-shanghai.aliyuncs.com/blog/img/photo1.jpg" alt="img" class="ui rounded image" style="height: 100%; margin: auto;">
                        </div>
                        <div>
                            <img src="https://cher-er.oss-cn-shanghai.aliyuncs.com/blog/img/photo2.jpg" alt="img" class="ui rounded image" style="height: 100%; margin: auto;">
                        </div>
                        <div>
                            <img src="https://cher-er.oss-cn-shanghai.aliyuncs.com/blog/img/photo3.jpg" alt="img" class="ui rounded image" style="height: 100%; margin: auto;">
                        </div>
                        <div>
                            <img src="https://cher-er.oss-cn-shanghai.aliyuncs.com/blog/img/photo4.jpg" alt="img" class="ui rounded image" style="height: 100%; margin: auto;">
                        </div>
                        <div>
                            <img src="https://cher-er.oss-cn-shanghai.aliyuncs.com/blog/img/photo5.jpg" alt="img" class="ui rounded image" style="height: 100%; margin: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <!--右侧信息-->
            <div class="six wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <!--个人描述-->
                <div class="ui attached segment">
                    <p class="m-text">我叫Cher，一名编程爱好者。</p>
                    <p class="m-text">主要在学习JavaWeb(也稍微会一点爬虫)。</p>
                    <p class="m-text">希望我的博客，能够让读者们有所收获。</p>
                </div>
                <!--标签-->
                <div class="ui attached segment">
                    <div class="ui orange basic label m-margin-tb-tiny">热爱编程</div>
                    <div class="ui orange basic label m-margin-tb-tiny">热爱干饭</div>
                </div>
                <!--技术栈-->
                <div class="ui attached segment">
                    <div class="ui teal basic label m-margin-tb-tiny">Java</div>
                    <div class="ui teal basic label m-margin-tb-tiny">MySQL</div>
                    <div class="ui teal basic label m-margin-tb-tiny">Spring</div>
                    <div class="ui teal basic label m-margin-tb-tiny">MyBatis</div>
                    <div class="ui teal basic label m-margin-tb-tiny">SpringBoot</div>
                    <div class="ui teal basic label m-margin-tb-tiny">爬虫</div>
                    <div class="ui teal basic label m-margin-tb-tiny">……</div>
                </div>
                <!--联系方式-->
                <div class="ui bottom attached segment">
                    <!--Github-->
                    <a href="https://github.com/Cher-er" target="_blank" class="ui circular icon button"><i
                            class="icon github"></i></a>
                    <!--公众号-->
                    <a href="javascript:;" class="ui wechat circular icon button"><i class="icon wechat"></i></a>
                </div>
                <!--公众号-->
                <div class="ui wechat flowing popup transition hidden">
                    <div class="ui orange basic label">
                        <div class="image">
                            <img th:src="@{/images/public_qrcode.jpg}" alt="img" class="ui image rounded bordered"
                                 style="width: 120px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--底部-->
<footer th:replace="_fragments::footer"></footer>

<th:block th:replace="_fragments::script"></th:block>

<script>
    $("a.wechat").popup({
        popup: $('div.wechat.popup'),
        position: 'bottom center'
    });

    layui.use('carousel', function () {
        var carousel = layui.carousel;

        carousel.render({
            elem: '#photos',
            width: '100%',
            height: '450px'
        });
    });
</script>
</body>
</html>