<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(${blog.title})">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments::menu(0)"></nav>

<!--中间内容-->
<div class="m-padding-tb-big m-container-small">
    <div class="ui container">
        <!--头部信息-->
        <div class="ui segment top attached">
            <div class="ui link list horizontal">
                <div class="item">
                    <img th:src="${user.avatarUrl}" alt="img"
                         class="ui avatar image">
                    <div class="content">
                        <a href="javascript:;" class="header m-text" th:text="${user.nickname}"></a>
                    </div>
                </div>
                <div class="item">
                    <i class="icon calender"></i>[[${#dates.format(blog.createTime,'yyyy-MM-dd')}]]
                </div>
                <div class="item">
                    <i class="icon eye" th:text="${blog.viewCount}"></i>
                </div>
            </div>
        </div>
        <!--首图-->
        <div class="ui attached segment">
            <img th:src="${blog.picUrl}" alt="img" class="ui fluid image rounded">
        </div>
        <!--博客内容-->
        <div class="ui attached segment padded">
            <!--博客标题-->
            <h2 class="ui header center aligned" th:text="${blog.title}"></h2>
            <!--博客声明：原创、转载、翻译-->
            <div class="ui basic segment right aligned">
                <label class="ui orange basic label" th:switch="${blog.statement}">
                    <th:block th:case="1">原创</th:block>
                    <th:block th:case="2">转载</th:block>
                    <th:block th:case="3">翻译</th:block>
                </label>
            </div>
            <!--博客内容-->
            <div id="content" class="typo m-padding-lr-huge-responsive m-padding-tb-large">
                [(${content})]
            </div>
            <!--赞赏-->
            <div class="ui basic segment center aligned">
                <button id="payButton" class="ui basic circular button orange">赞赏</button>
            </div>
            <div class="ui payQR flowing popup transition hidden">
                <div class="ui orange basic label">
                    <div class="ui images" style="font-size: inherit !important;">
                        <div class="image">
                            <img src="../static/images/archive/money1.jpg" th:src="${user.wechatCollectionCodeUrl}" alt="img" class="ui image rounded bordered"
                                 style="width: 120px">
                            <div>微信</div>
                        </div>
                        <div class="image">
                            <img src="../static/images/archive/money2.jpg" th:src="${user.alipayCollectionCodeUrl}" alt="img" class="ui image rounded bordered"
                                 style="width: 120px">
                            <div>支付宝</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--博客信息-->
        <div class="ui attached positive message">
            <div class="ui grid middle aligned">
                <div class="eleven wide column">
                    <ul class="list">
                        <li>作者：[[${user.nickname}]]</li>
                        <li>发表时间：[[${#dates.format(blog.createTime,'yyyy-MM-dd')}]]</li>
                        <li>版权声明：自由转载-非商用-非衍生-保持署名</li>
                        <li>公众号转载：请在文末添加本站网址(http://cher.top)及公众号二维码</li>
                    </ul>
                </div>
                <div class="five wide column">
                    <img th:src="@{/images/public_qrcode.jpg}" alt="img" class="ui rounded bordered image right floated"
                         style="width: 120px;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-fixed m-bottom-right m-padding-small">
    <div class="ui vertical icon buttons">
        <button class="ui toc-btn teal icon button">目录</button>
        <button class="ui qrcode-btn teal icon button m-mobile-hide">手机阅览</button>
        <button id="toHeader" class="ui teal button"><i class="angle up icon"></i></button>
    </div>
</div>
<!--手机阅览二维码-->
<div id="qrcode" class="ui flowing popup transition hidden">

</div>
<div id="toc" class="ui flowing popup transition hidden" style="width: 180px;">

</div>

<br>
<br>

<!--底部-->
<footer th:replace="_fragments::footer"></footer>

<th:block th:replace="_fragments::script"></th:block>

<script>
    // 赞赏
    $("#payButton").popup({
        popup: $('.payQR.popup'),
        on: 'click',
        position: 'bottom center'
    });

    // 手机阅览二维码
    $(".qrcode-btn").popup({
        popup: $('#qrcode.popup'),
        on: 'click',
        position: 'left center'
    });

    // 目录
    $(".toc-btn").popup({
        popup: $('#toc.popup'),
        on: 'click',
        position: 'left center'
    });
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '#toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '#content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3'
    });

    var qrcode = new QRCode("qrcode", {
        text: window.location.href,
        width: 100,
        height: 100,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

    // 返回顶部
    $("#toHeader").click(function () {
        $(window).scrollTo(0, 500);
    });

</script>
</body>
</html>